/* Table of content :

1. Global styles
2. Typography
3. Colors
4. Layouts
    4.1 MAIN PAGE
    4.2 HEADER
    4.3 FORMULAIRE DE RECHERCHE
    4.4 HÉBERGEMENTS
    4.5 ACTIVITÉS
    4.6 PIED DE PAGE
5. Components
    5.1 BOUTONS
    5.2 HEADER NAVBAR EFFECT
    5.3 CARDS
    5.4 TOGGLE SWITCHES
6. Device responsivity
    6.1 Destktop smaller window
    6.2 Tablet
    6.3 Mobile */


/* ==================
    1. GLOBAL STYLES
   ================== */

/* Permet de faire un défilement fluide. Ne fonctionne pas avec tous les navigateurs. */
html
{
    scroll-behavior: smooth;
}

a
{
    text-decoration: none;
}


/* ==================
    2. TYPOGRAPHY
   ================== */

:root
{
    --fs-large: 1.2rem;
    --fs-medium: 0.9rem;
    --fs-small: 0.8rem; /* Cette taille a une influence sur l'alignement du bouton "S'inscire". Sous 1rem, cela pose un problème */
    --fs-smaller: 0.7rem;
}

body
{
    font-family: 'Raleway', sans-serif;
}

h1, h2
{
    font-size: var(--fs-large);
    font-weight: bold;
}

h3
{
    font-size: var(--fs-medium);
}

p,
a,
li
{
    font-size: var(--fs-small);
}

a
{
    color: black;
}

.footer a:hover
{
    border-bottom: var(--mainColor) 1px solid;
}



/* ==================
    3. COLORS
   ================== */

/* Vérifier convention Camel case vs Kebab case pour les variables */
:root
{
    --mainColor: #0065fc;
    --mainColorLight: #deebff;
    --hoverButtonColor: #a2e5ee;
    --backgroundColor: #f2f2f2;
}


/* ==================
    4. LAYOUTS
   ================== */

/* 4.1 MAIN PAGE */

body
{
    margin: 0;
}

.search-form, main
{
    padding: 0 40px;
}

main
{
    margin-top: 40px;
}

/* 4.2 HEADER */

.header__nav-list
{
    display: flex;
    gap: 70px;
}

.header__nav-list-item
{
    list-style: none;
}


.header__logo
{
    margin-left: 40px;
}

.header__subscribe
{
    margin-right: 40px;
    margin-left: 70px;
}

.header__subscribe a
{
    color: var(--mainColor);
    font-weight: bold;
}

/* Place un espace entre le logo et les liens de navigation */
.header__push
{
    margin-left: auto;
}

.search-form
{
    padding-top: 100px;
}

header
{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 40px;
    position: fixed;
    z-index: 1;
    background-color: white;
}

/* Évite au header d'empiéter sur le contenu ciblé par la navigation */
#hebergements,
#activites
{
    scroll-margin-top: 100px;
}

/* 4.3 FORMULAIRE DE RECHERCHE */

/* Barre de recherche */

form
{
    display: flex;
    height: 40px;
    width: 330px;
    border-radius: 10px;
    border: 1px var(--backgroundColor) solid;
}

.search-form__input
{
    padding-left: 15px;
}

::placeholder
{
    font-weight: bold;
    opacity: 1;
}

form > *
{
    border-style: none;
}

.search-form__icon
{
    background-color: var(--backgroundColor);
    border-radius: 10px 0 0 10px;
    width: 45px;
    font-size: 1.2em;
}

.search-form__input
{
    width: 200px;
}


.search-form__button
{
    width: 100px;
    background-color: var(--mainColor);
    font-weight: 500;
    color: white;
    border-radius: 0 10px 10px 0;
}

/* Filtres */

.search-form__filters
{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

/* Output */

.search__output
{
    margin-top: 30px;
}

.fa-info
{
    display: inline-block;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    padding: 5px 4px 4px 4px;
    color: var(--mainColor);
    text-align: center;
    box-shadow: 0px 0px 2px #2b2b2b;
    margin-right: 10px;
}

/* 4.4 HÉBERGEMENTS */

.hebergements
{
    display: flex;
    gap: 25px;
    margin-bottom: 50px;
}

.hebergements__main-list
{
    flex-basis: 70%;
    padding: 30px 20px 30px 20px;
    border-radius: 15px;
    background-color: var(--backgroundColor);
}

.hebergements__gallery
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hebergements__trending
{
    position: relative; /* Pour fixer en absolute l'icône "fa-line-chart" */
    flex-basis: 30%;
    padding: 30px 20px 30px 20px;
    border-radius: 15px;
    background-color: var(--backgroundColor);
}

.fa-line-chart
{
    position: absolute;
    right: 30px;
}

/* .hebergements__main-list et .hebergements__trending ont trois propriétés identiques. Essayer de regrouper pour optimiser */

.hebergements__img
{
    width: 200px;
    height: 100px;
    object-fit: cover;
}

/* 4.5 ACTIVITÉS */

.activites__gallery
{
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 270px));
    grid-template-rows: 200px 20px 30px 160px;
    grid-auto-flow: column;
    column-gap: 35px;
}

/* 4.6 PIED DE PAGE */

.footer
{
    margin-top: 65px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    background-color: var(--backgroundColor);
}

/*
.footer__help  Cet élément présente un espacement plus large d'après la maquette 
{
    margin-left: auto;
}*/

/* ==================
    5. COMPONENTS
   ================== */

/* 5.1 BOUTONS */

button
{
    cursor: pointer;
}

/* 5.2 HEADER NAVBAR EFFECT */

/* Desktop and tablet version */

.header__nav-list-item_hover a:hover
{
    color: var(--mainColor);
}

.header__nav-list-item_hover::before
{
    content: "";
    display: block; /* Permet d'attribuer une largeur */
    width: 125%;
    position: relative;
    bottom: 59px;
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    background-color: var(--mainColor);
    transform: scale(0);
    transition: 0.2s ease-in-out;
}

.header__nav-list-item_hover:hover::before
{
    transform: scale(1);
}

/* Le style ne reste pas quand il y a un href autre que # seul... */
.header__nav-list a:focus
{
    color: red;
}

/* Ici le focus fonctionne */
.header__subscribe a:focus
{
    color: red;
}

/* Mobile version */

@media all and (max-width: 480px)
{
    .header__nav-list-item_hover::before
    {
        content: "";
        display: block; /* Permet d'attribuer une largeur */
        width: auto;
        position: relative;
        top: 36px;
        margin-left: auto;
        margin-right: auto;
        height: 5px;
        background-color: var(--mainColor);
        transform: scale(0);
        transition: 0.2s ease-in-out;
    }

    .header__nav-list-item_hover:hover::before
    {
        transform: scale(1);
    }
}

/* 5.3 CARDS */

/* Stars style */

.checked-star
{
    color: var(--mainColor);
}
.unchecked-star
{
    color: #d9d9d9;
}

/* Cards */

.hebergements__card, .activites__card
{
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(206, 206, 206, 0.438);
    transition: 0.4s;
}

.hebergements__card:hover, .activites__card:hover
{
    transform: scale(1.06);
}

/* Hebergement cards */

.hebergements__card, .hebergements__card_trending
{
    margin: 10px 0;
    background-color: white;
    border-radius: 15px;
}

.hebergements__card_main-list
{
    width: 240px;
}

figure
{
    margin: 5px;
}

.hebergements__img
{
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.hebergements__card figcaption
{
    padding-left: 10px;
}

.hebergements__card_trending
{
    width: 300px;
}

.hebergements__card_trending figure
{
    display: flex;
    gap: 5px;
}

.hebergements__img_trending
{
    width: 110px;
    height: 130px;
    border-radius: 15px 0 0 15px;
}

.hebergements__card_trending figcaption
{
    position: relative;
}

.hebergements__rating
{
    position: absolute;
    bottom: 10px;
}

/* Activites cards */

.activites__card
{
    border-radius: 15px;
    justify-self: stretch;
    align-self: stretch;
}

.activites__card figure
{
    margin: 0;
}

.activites__img
{
    border-radius: 15px 15px 15px 15px;
    object-fit: cover;
    width: 100%;
    height: 100px;
}

.activites__card figure /* J'ai passé du temps à vouloir modifier la hauteur de l'image alors que c'était la figure qui était en tort ! */
{
    position: relative; /* Pour pouvoir positionner le texte en bas avec un position: basolute */
    height: 100%;
}

.activites__img
{
    height: 95%;
}

.activites__card figcaption
{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 0px;
    border-radius: 0 0 15px 15px;
    background-color: white;
}

.activites__card figcaption h3
{
    padding-left: 15px;
}

/* Position of the cards on the grid */

.activites__card_vertical
{
    grid-row: span 4;
}

.activites__card_horizontal1
{
    grid-row: span 2;
}

.activites__card_horizontal2
{
    grid-row-start: 4;
}

.activites__card_horizontal4
{
    grid-row-start: 3;
    grid-row-end: span 2;
}

/* 5.4 TOGGLE SWITCHES */
/* Plusieurs propriétés se répètent, penser à les regrouper ! */

/* Global propreties */

.switch input
{
    display: none; /* Cache la checkbox d'origine */
}

/* ECONOMIC SWITCH */

.switch-economic
{
    position: relative; /* Permet de lier ensuite le "bouton" avec un position: absolute. */
    display: block; /* Permet de modifier la taille du conteneur */
    width: 180px;
    height: 45px;
}

.switch-bar-economic
{
    position: absolute;
    inset: 0; /* Raccourci de top: 0 righ:0 bottom:0 left:0. Pas reconnu par tous les navigateurs */
    transition: 0.5s; /* Temps d'animation */
    cursor: pointer;
    background: white;
    border: 2px solid #dbdbdb;
    border-radius: 25px;
}

.switch-bar-economic::before /* Style du bouton */
{
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    bottom: -2px;
    left: -2px;
    border-radius: 50%;
    background: url("images/fa-icons/money-bill-wave-alt-solid.svg"), var(--mainColorLight);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    transition: 0.5s;
}

.switch-bar-economic:hover::before
{
    background: url("images/fa-icons/money-bill-wave-alt-solid.svg"), var(--hoverButtonColor);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

.switch-bar-economic::after /* Style du texte */
{
    position: absolute;
    content: "Économique";
    top: 12px;
    left: 55px;
    transition: 0.5s;
    font-weight: bold;
}

/* Animation de la barre lorsque la barre est cliquée (checked) */
input:checked + .switch-bar-economic
{
    background: var(--mainColor);
}

/* Animation du bouton */
input:checked + .switch-bar-economic::before
{
    transform: translateX(140px);
}

/* Animation du texte */
input:checked + .switch-bar-economic::after
{
    transform: translateX(-30px);
    color: white;
}

/* FAMILIAL SWITCH */

.switch-familial
{
    position: relative;
    display: block; 
    width: 145px;
    height: 45px;
}

.switch-bar-familial
{
    position: absolute;
    inset: 0; 
    transition: 0.5s; 
    cursor: pointer;
    background: white;
    border: 2px solid #dbdbdb;
    border-radius: 25px;
}

.switch-bar-familial::before /* Style du bouton */
{
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    bottom: -2px;
    left: -2px;
    border-radius: 50%;
    background: url("images/fa-icons/child-solid.svg"), var(--mainColorLight);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    transition: 0.5s;
}

.switch-bar-familial:hover::before
{
    background: url("images/fa-icons/child-solid.svg"), var(--hoverButtonColor);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

.switch-bar-familial::after /* Style du texte */
{
    position: absolute;
    content: "Familial";
    top: 12px;
    left: 55px;
    transition: 0.5s;
    font-weight: bold;
}

/* Animation de la barre lorsque la barre est cliquée (checked) */
input:checked + .switch-bar-familial
{
    background: var(--mainColor);
}

/* Animation du bouton */
input:checked + .switch-bar-familial::before
{
    transform: translateX(105px);
}

/* Animation du texte */
input:checked + .switch-bar-familial::after
{
    transform: translateX(-30px);
    color: white;
}

/* ROMANTIC SWITCH */

.switch-romantic
{
    position: relative;
    display: block; 
    width: 180px;
    height: 45px;
}

.switch-bar-romantic
{
    position: absolute;
    inset: 0; 
    transition: 0.5s; 
    cursor: pointer;
    background: white;
    border: 2px solid #dbdbdb;
    border-radius: 25px;
}

.switch-bar-romantic::before /* Style du bouton */
{
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    bottom: -2px;
    left: -2px;
    border-radius: 50%;
    background: url("images/fa-icons/heart-solid.svg"), var(--mainColorLight);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    transition: 0.5s;
}

.switch-bar-romantic:hover::before 
{
    background: url("images/fa-icons/heart-solid.svg"), var(--hoverButtonColor);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

.switch-bar-romantic::after /* Style du texte */
{
    position: absolute;
    content: "Romantique";
    top: 12px;
    left: 55px;
    transition: 0.5s;
    font-weight: bold;
}

/* Animation de la barre lorsque la barre est cliquée (checked) */
input:checked + .switch-bar-romantic
{
    background: var(--mainColor);
}

/* Animation du bouton */
input:checked + .switch-bar-romantic::before
{
    transform: translateX(140px);
}

/* Animation du texte */
input:checked + .switch-bar-romantic::after
{
    transform: translateX(-30px);
    color: white;
}

/* SWITCH ANIMALS */

.switch-animals
{
    position: relative;
    display: block; 
    width: 225px;
    height: 45px;
}

.switch-bar-animals
{
    position: absolute;
    inset: 0; 
    transition: 0.5s; 
    cursor: pointer;
    background: white;
    border: 2px solid #dbdbdb;
    border-radius: 25px;
}

.switch-bar-animals::before /* Style du bouton */
{
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    bottom: -2px;
    left: -2px;
    border-radius: 50%;
    background: url("images/fa-icons/dog-solid.svg"), var(--mainColorLight);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    transition: 0.5s;
}

.switch-bar-animals:hover::before 
{
    background: url("images/fa-icons/dog-solid.svg"), var(--hoverButtonColor);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
}

.switch-bar-animals::after /* Style du texte */
{
    position: absolute;
    content: "Animaux autorisés";
    top: 12px;
    left: 55px;
    transition: 0.5s;
    font-weight: bold;
}

/* Animation de la barre lorsque la barre est cliquée (checked) */
input:checked + .switch-bar-animals
{
    background: var(--mainColor);
}

/* Animation du bouton */
input:checked + .switch-bar-animals::before
{
    transform: translateX(182px);
}

/* Animation du texte */
input:checked + .switch-bar-animals::after
{
    transform: translateX(-30px);
    color: white;
}

/* ========================
    6. DEVICE RESPONSIVITY
   ======================== */

/* 6.1 Tablet */

@media all and (min-width: 480px) and (max-width: 801px)
{
    /* HÉBERGEMENTS */
    .hebergements
    {
        flex-direction: column-reverse;
    }
    .hebergements__card_trending
    {
        width: 500px;
    }
    /* ACTIVITÉS */

    /* Reset span of horizontal cards */
    .activites__card_horizontal1,
    .activites__card_horizontal2,
    .activites__card_horizontal4,
    .activites__card_horizontal4
    {
        grid-row: span 1;
    }
    /* Reajust span of vertical cards */
    .activites__card_vertical
    {
        grid-row: span 2;
    }

    .activites__gallery
    {
        grid-auto-flow: initial;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-template-rows: repeat(4, 200px);
        gap: 25px;
    }
}

/* 6.2 Mobile */

@media all and (max-width: 480px)
{
    /* MAIN PAGE */
    body 
    {
        margin-left: auto;
        margin-right: auto;
    }

    main 
    {
        padding: 0;
    }

    /* HEADER */
    #hebergements
    {
        scroll-margin-top: 140px;
    }
    #activites
    {
        scroll-margin-top: 180px;
    }
    .search-form
    {
        padding-top: 160px;
    }
    header 
    {
        flex-wrap: wrap;
    }

    .header__navbar
    {
        order: 1; /* Fait passer les liens de navigation après le bouton "s'inscrire" */
        width: 100%;
        border-bottom: var(--backgroundColor) 5px solid;
    }

    .header__nav-list
    {
        padding-left: 0;
        gap: 0;
    }

    .header__nav-list-item
    {
        width: 50%;
        text-align: center;
    }

    /* HÉBERGEMENTS */
    .hebergements
    {
        flex-direction: column-reverse;
    }

    .hebergements__trending
    {
        border-radius: 0;
    }

    .hebergements__card_trending, .hebergements__card_main-list
    {
        width: 350px;
    }
    .hebergements__main-list
    {
        background-color: white;
    }

    /* ACTIVITÉS */
    .activites
    {
        padding: 0 20px;
    }

    .activites__gallery
    {
    display: flex;
    flex-direction: column;
    gap: 20px;
    }

    .activites__img
    {
        height: 235px;
    }

    /* FOOTER */
    .footer
    {
        flex-direction: column;
        padding-left: 25px;
    }
}

/* property: initial; permet de reset les propriétés précédentes... super ! */
/* ajouter un breakpoint à 595px pour le header */