/* Table of content :

1. Global styles
2. Typography
3. Layouts
    3.1 MAIN PAGE
    3.2 HEADER
    3.3 FORMULAIRE DE RECHERCHE
    3.4 HÉBERGEMENTS
    3.5 ACTIVITÉS
    3.6 PIED DE PAGE
4. Components
5. Device responsivity
    5.1 Tablet
    5.2 Mobile */


/* ==================
    1. GLOBAL STYLES
   ================== */


/* ==================
    2. TYPOGRAPHY
   ================== */

body
{
    font-family: 'Raleway', sans-serif;
}

/* ==================
    3. LAYOUTS
   ================== */

/* 3.1 MAIN PAGE */

body
{
    margin: 0;
}

header
{
    padding: 50px 40px 50px 40px;
}

.search-form, main
{
    padding: 0 40px;
}

/* 3.2 HEADER */

/* FAIRE TRÈS ATTENTION À LA LIGNE BLEUE TOUT EN HAUT QUAND ON SÉLECTIONNE UNE CATÉGORIE ! */

header
{
    display: flex;
    justify-content: space-between;
}

.header__nav-list
{
    display: flex;
    gap: 70px;
}

.header__nav-list-item
{
    list-style: none;
}

/* 3.3 FORMULAIRE DE RECHERCHE */

/* Barre de recherche */

form
{
    display: flex;
    height: 40px;
    width: fit-content;
    border-radius: 25px;
    border: 1px #f2f2f2 solid;
}

form > *
{
    border-style: none;
}

.search-form__icon
{
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
    width: 30px;
}

.search-form__input
{
    width: 200px;
}


.search-form__button
{
    width: 100px;
    background-color: #0065fc;
    color: white;
    border-radius: 0 10px 10px 0;
}

/* Filtres */

.search-form__filters
{
    margin-top: 25px;
    display: flex;
    gap: 40px;
}

/* 3.4 HÉBERGEMENTS */

.hebergements
{
    display: flex;
    gap: 25px;
}

.hebergements__main-list
{
    flex-basis: 70%;
    padding: 30px 20px 30px 20px;
    border-radius: 25px;
    background-color: #f2f2f2;
}

.hebergements__gallery
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hebergements__trending
{
    flex-basis: 30%;
    padding: 30px 20px 30px 20px;
    border-radius: 25px;
    background-color: #f2f2f2;
}

/* .hebergements__main-list et .hebergements__trending ont trois propriétés identiques. Essayer de regrouper pour optimiser */

.hebergements__img
{
    width: 200px;
    height: 100px;
    object-fit: cover;
}

/* 3.5 ACTIVITÉS */

.activites__gallery
{
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 270px));
    grid-template-rows: 200px 20px 30px 160px;
    grid-auto-flow: column;
    column-gap: 35px;
}

/* 3.6 PIED DE PAGE */

.footer
{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
}

/* ==================
    4. COMPONENTS
   ================== */

/* Boutons */

button
{
    cursor: pointer;
}

/* CARDS */

/* Hebergement cards */

.hebergements__card, .hebergements__card_trending
{
    margin: 10px 0;
    background-color: white;
    border-radius: 25px;
}

figure
{
    margin: 5px;
}

.hebergements__img
{
    border-radius: 25px 25px 0 0;
}

.hebergements__card_trending figure
{
    display: flex;
}
.hebergements__img_trending
{
    width: 100px;
    height: 150px;
    border-radius: 25px 0 0 25px;
}

/* Activites cards */

.activites__card
{
    border-radius: 25px;
    justify-self: stretch;
    align-self: stretch;
}

.activites__img
{
    border-radius: 25px 25px 25px 25px;
    object-fit: cover;
    width: 100%;
    height: 100px;
}

.activites__card figure /* J'ai passé du temps à vouloir modifier la hauteur de l'image alors que c'était la figure qui était en tort ! */
{
    position: relative; /* Pour pouvoir positionner le texte en bas avec un position: basolute */
    height: 100%;
}

.activites__img
{
    height: 95%;
}

.activites__card figcaption
{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 0px;
    border-radius: 0 0 25px 25px;
    background-color: white;
    box-shadow: 0 7px 5px rgb(153, 151, 151);
}

.activites__card figcaption h3
{
    padding-left: 15px;
}

/* Position of the cards on the grid */

.activites__card_vertical
{
    grid-row: span 4;
}

.activites__card_horizontal1
{
    grid-row: span 2;
}

.activites__card_horizontal2
{
    grid-row-start: 4;
}

.activites__card_horizontal4
{
    grid-row-start: 3;
    grid-row-end: span 2; /* Pourquoi "grid-row: span 2;" ne marche pas ? */
}

/* ========================
    5. DEVICE RESPONSIVITY
   ======================== */

/* 5.1 Tablet */

@media all and (min-width: 480px) and (max-width: 801px)
{
    /* HÉBERGEMENTS */
    .hebergements
    {
        flex-direction: column-reverse;
    }
    .hebergements__card_trending
    {
        width: 500px;
    }
    /* ACTIVITÉS */

    /* Reset span of horizontal cards */
    .activites__card_horizontal1,
    .activites__card_horizontal2,
    .activites__card_horizontal4,
    .activites__card_horizontal4
    {
        grid-row: span 1;
    }
    /* Reajust span of vertical cards */
    .activites__card_vertical
    {
        grid-row: span 2;
    }

    .activites__gallery
    {
        grid-auto-flow: initial;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: auto;
    }
    body 
    {
        background-color: paleturquoise;
    }
}

/* 5.2 Mobile */

@media all and (max-width: 480px)
{
    /* MAIN PAGE */
    body 
    {
        margin-left: auto;
        margin-right: auto;
    }

    /* HÉBERGEMENTS */
    .hebergements
    {
        flex-direction: column-reverse;
    }
    .hebergements__main-list
    {
        background-color: white;
    }

    /* ACTIVITÉS */
    .activites__gallery
    {
    display: flex;
    flex-direction: column;
    }

    /* FOOTER */
    .footer
    {
        flex-direction: column;
    }
}

/* property: initial; permet de reset les propriétés précédentes... syper ! */