/* Table of content :

1. Global styles
2. Typography
3. Layouts
    3.1 MAIN PAGE
    3.2 HEADER
        3.2.1 Fixed version (default)
        3.2.2 Standart version (comment the 3.2.1 Fixed version to apply this style)
    3.3 FORMULAIRE DE RECHERCHE
    3.4 HÉBERGEMENTS
    3.5 ACTIVITÉS
    3.6 PIED DE PAGE
4. Components
5. Device responsivity
    5.1 Destktop smaller window
    5.2 Tablet
    5.3 Mobile */


/* ==================
    1. GLOBAL STYLES
   ================== */

/* Permet de faire un défilement fluide. Ne fonctionne pas avec tous les navigateurs. */
html
{
    scroll-behavior: smooth;
}

a
{
    text-decoration: none;
}


/* ==================
    2. TYPOGRAPHY
   ================== */

body
{
    font-family: 'Raleway', sans-serif;
}

a
{
    color: black;
}


/* ==================
    3. LAYOUTS
   ================== */

/* 3.1 MAIN PAGE */

body
{
    margin: 0;
}



.search-form, main
{
    padding: 0 40px;
}

/* 3.2 HEADER */

/* FAIRE TRÈS ATTENTION À LA LIGNE BLEUE TOUT EN HAUT QUAND ON SÉLECTIONNE UNE CATÉGORIE ! */

.header__nav-list
{
    display: flex;
    gap: 70px;
}

.header__nav-list-item
{
    list-style: none;
}


.header__logo
{
    margin-left: 40px;
}

.header__subscribe
{
    margin-right: 40px;
    margin-left: 70px;
}

/* Astuce trouvée ici : https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container */
.header__push
{
    margin-left: auto;
}


/* 3.2.1 Fixed version */

.search-form
{
    padding-top: 100px;
}

header
{
    display: flex;
    width: 100%;
    padding-top: 40px;
    position: fixed;
    z-index: 1;
    background-color: white;
}

/* Évite au header d'empiéter sur le contenu ciblé par la navigation */
#hebergements,
#activites
{
    scroll-margin-top: 100px;
}


/* 3.2.2 Unfixed version (comment the 3.2.1 Fixed version to apply this style) 


header
{
    padding: 50px 40px 50px 40px;
} */

/* 3.3 FORMULAIRE DE RECHERCHE */

/* Barre de recherche */

form
{
    display: flex;
    height: 40px;
    width: fit-content;
    border-radius: 25px;
    border: 1px #f2f2f2 solid;
}

form > *
{
    border-style: none;
}

.search-form__icon
{
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
    width: 30px;
}

.search-form__input
{
    width: 200px;
}


.search-form__button
{
    width: 100px;
    background-color: #0065fc;
    color: white;
    border-radius: 0 10px 10px 0;
}

/* Filtres */

.search-form__filters
{
    margin-top: 25px;
    display: flex;
    gap: 40px;
}

/* 3.4 HÉBERGEMENTS */

.hebergements
{
    display: flex;
    gap: 25px;
}

.hebergements__main-list
{
    flex-basis: 70%;
    padding: 30px 20px 30px 20px;
    border-radius: 25px;
    background-color: #f2f2f2;
}

.hebergements__gallery
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hebergements__trending
{
    flex-basis: 30%;
    padding: 30px 20px 30px 20px;
    border-radius: 25px;
    background-color: #f2f2f2;
}

/* .hebergements__main-list et .hebergements__trending ont trois propriétés identiques. Essayer de regrouper pour optimiser */

.hebergements__img
{
    width: 200px;
    height: 100px;
    object-fit: cover;
}

/* 3.5 ACTIVITÉS */

.activites__gallery
{
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 270px));
    grid-template-rows: 200px 20px 30px 160px;
    grid-auto-flow: column;
    column-gap: 35px;
}

/* 3.6 PIED DE PAGE */

.footer
{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
}

/* ==================
    4. COMPONENTS
   ================== */

/* 4.1 Boutons */

button
{
    cursor: pointer;
}

/* HEADER NAVBAR EFFECT */

.header__nav-list-item_hover::before
{
    content: "";
    display: block; /* Permet d'attribuer une largeur */
    width: 100%;
    position: absolute;
    top: 0;
    height: 5px;
    background-color: #0065fc;
    transform: scale(0);
    transition: 0.2s ease-in-out;
}
.header__nav-list-item_hover:hover::before
{
    transform: scale(1);
}

/* CARDS */

/* Hebergement cards */

.hebergements__card, .hebergements__card_trending
{
    margin: 10px 0;
    background-color: white;
    border-radius: 25px;
}

figure
{
    margin: 5px;
}

.hebergements__img
{
    border-radius: 25px 25px 0 0;
}

.hebergements__card_trending figure
{
    display: flex;
}
.hebergements__img_trending
{
    width: 100px;
    height: 150px;
    border-radius: 25px 0 0 25px;
}

/* Activites cards */

.activites__card
{
    border-radius: 25px;
    justify-self: stretch;
    align-self: stretch;
}

.activites__img
{
    border-radius: 25px 25px 25px 25px;
    object-fit: cover;
    width: 100%;
    height: 100px;
}

.activites__card figure /* J'ai passé du temps à vouloir modifier la hauteur de l'image alors que c'était la figure qui était en tort ! */
{
    position: relative; /* Pour pouvoir positionner le texte en bas avec un position: basolute */
    height: 100%;
}

.activites__img
{
    height: 95%;
}

.activites__card figcaption
{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 0px;
    border-radius: 0 0 25px 25px;
    background-color: white;
    box-shadow: 0 7px 5px rgb(153, 151, 151);
}

.activites__card figcaption h3
{
    padding-left: 15px;
}

/* Position of the cards on the grid */

.activites__card_vertical
{
    grid-row: span 4;
}

.activites__card_horizontal1
{
    grid-row: span 2;
}

.activites__card_horizontal2
{
    grid-row-start: 4;
}

.activites__card_horizontal4
{
    grid-row-start: 3;
    grid-row-end: span 2; /* Pourquoi "grid-row: span 2;" ne marche pas ? */
}

/* TOGGLE SWITCHES */

.switch input
{
    display: none; /* Cache la checkbox d'origine */
}

.switch-economic
{
    position: relative; /* Permet de lier ensuite le "bouton" avec un position: absolute. */
    display: block; /* Permet de modifier la taille du conteneur */
    width: 180px;
    height: 45px;
}

.switch-bar
{
    position: absolute;
    inset: 0; /* Raccourci de top: 0 righ:0 bottom:0 left:0. Pas reconnu par tous les navigateurs */
    transition: 0.5s; /* Temps d'animation */
    cursor: pointer;
    background: white;
    border: 2px solid gray;
    border-radius: 25px;
}

.switch-bar::before /* Style du bouton */
{
    position: absolute;
    content: ""; /* Possibilité de mettre directement l'icône dans content (avec content: "\f107"; par exemple et régler la taille et position avec font-size etc). */
    width: 45px;
    height: 45px;
    bottom: -2px;
    left: -2px;
    border-radius: 50%;
    background: url("images/fa-icons/money-bill-wave-alt-solid.svg"), #deebff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    transition: 0.5s;
}

.switch-bar::after /* Style du texte */
{
    position: absolute;
    content: "Économique";
    top: 12px;
    left: 55px;
    transition: 0.5s;
    font-weight: bold;
}

/* Animation de la barre lorsque la barre est cliquée (checked) */
input:checked + .switch-bar
{
    background: #0065fc;
}

/* Animation du bouton */
input:checked + .switch-bar::before
{
    transform: translateX(140px);
}

/* Animation du texte */
input:checked + .switch-bar::after
{
    transform: translateX(-30px);
    color: white;
}

/* ========================
    5. DEVICE RESPONSIVITY
   ======================== */

/* 5.1 Destktop smaller window */

@media all and (max-width: 700px)
{
    .header__navbar
    {
        order: 1;
    }

}

/* 5.2 Tablet */

@media all and (min-width: 480px) and (max-width: 801px)
{
    /* HÉBERGEMENTS */
    .hebergements
    {
        flex-direction: column-reverse;
    }
    .hebergements__card_trending
    {
        width: 500px;
    }
    /* ACTIVITÉS */

    /* Reset span of horizontal cards */
    .activites__card_horizontal1,
    .activites__card_horizontal2,
    .activites__card_horizontal4,
    .activites__card_horizontal4
    {
        grid-row: span 1;
    }
    /* Reajust span of vertical cards */
    .activites__card_vertical
    {
        grid-row: span 2;
    }

    .activites__gallery
    {
        grid-auto-flow: initial;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: auto;
    }
    body 
    {
        background-color: paleturquoise;
    }
}

/* 5.3 Mobile */

@media all and (max-width: 480px)
{
    /* MAIN PAGE */
    body 
    {
        margin-left: auto;
        margin-right: auto;
    }

    /* HEADER */
    header 
    {
        flex-wrap: wrap;
    }

    .header__navbar
    {
        width: 100%;
        border-bottom: #f2f2f2 5px solid;
    }
    .header__nav-list
    {
        justify-content: space-around;
    }


    /* HÉBERGEMENTS */
    .hebergements
    {
        flex-direction: column-reverse;
    }
    .hebergements__main-list
    {
        background-color: white;
    }

    /* ACTIVITÉS */
    .activites__gallery
    {
    display: flex;
    flex-direction: column;
    }

    /* FOOTER */
    .footer
    {
        flex-direction: column;
    }
}

/* property: initial; permet de reset les propriétés précédentes... super ! */
/* ajouter un breakpoint à 595px pour le header */